body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f0f0f0;
}

.magicInkStyle {
    font-size: 2em;
    line-height: 2em;
    text-align: justify;
}

.calculator {
    margin: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.top-row {
    display: flex;
}

.left-panel, .right-panel {
    padding: 20px;
    border: 1px solid #ccc;
}

.left-panel {
    width: 50%;
    border-right: none; /* seamless between panels */
}

.right-panel {
    width: 50%;
    text-align: left;
}

.compositeSlider {
    position:relative;
    font-weight: bold;
    white-space: nowrap;
}

.inlineSlider input {
    position: absolute;
    top: -1.3em;
    left: 50%;
    transform: translateX(-50%);
}

.inlineSlider input {
    opacity: 0.3;
}

.inlineSlider input:hover {
    opacity: 1;
}